.give_section {
 width:100%;
 background-color:$color3;
}

.form1_header {
 padding-bottom: 40px;
 padding-top:25px;

  @media (max-width:550px) {
     padding-top:20px;
     text-align:center;
    }
}

.form1_header_title {
 font-weight:bolder;
 font-size:38px;
}

.form1_header_text {
 display:block;
 width:85%;
 color:$color4;
 font-size:24px;
  @media (max-width:550px) {
     width:80%;
     margin:0 auto;
    }

}

.form1_title {
 @media (max-width:550px) {
  text-align:center;
 }
}

.form1_content {
padding-top: 1px;


 background-image: url("../../src/assets/Background-Form.jpg");

}

.form1_content2 {
   display:flex;
   flex-direction:column;
   padding:50px 0;

   @media (max-width:550px) {
    align-items:center;
    padding:50px 20px;
    width:70%;
   }
}

.form1_step {
 color:$color4;
 font-size:26px;
 margin-bottom:60px;
}

.form1_form {
   display:flex;
   flex-direction:column;
}

.form1_title {
 font-weight:bolder;
 font-size:32px;
 margin-bottom:25px;
}


.form1_container {
  padding:20px 0;
  display: block;
  position: relative;
  padding-left: 55px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
   @media (max-width:550px) {
    width:60%
    }
}

.form1_container input {
  position: absolute;
  top:12px;
  left:0;
  width:100%;
  height:45px;
  opacity: 0;
  cursor: pointer;
  z-index:99999;

}



.form1_checkmark {
  position: absolute;
  top: 18px;
  left: 0;
  height: 30px;
  width: 30px;
  border:1px solid $color4;
}

.form1_container:hover input ~ .form1_checkmark {
  background-color: #ccc;
}

.form1_container input:checked ~ .form1_checkmark {
  background-color: $color3;
}

.form1_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form1_container input:checked ~ .form1_checkmark:after {
  display: block;
}

.form1_button {
 width:15%;
 margin-top:100px;
 padding:20px 15px;
 color:$color4;
 font-weight:lighter;
 font-size:32px;
 background:none;
 border:1px solid $color4;

 &:hover {
  color:$color5;
 }

 @media (max-width:550px) {
  display:flex;
  flex-wrap:wrap;
  font-size:20px;
  font-weight:bolder;
  align-self:center;
  width:content;
  width:100%;
 }
}



