.three_back{
  background-color: $color3;
}

.three_content {
  display: flex;
  justify-content: space-between;
  @media (max-width:550px) {
      flex-direction:column;
    }
}

.three_box {
  margin-bottom: 60px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  @media (max-width:550px) {
    margin-bottom: 20px;
      margin-top: 20px;
  }
}

.three_box_title {
  margin:0;
  font-size: 90px;
  color:$color2;
  font-weight: lighter;
}

.three_box_title4 {
  margin: 25px;
  color: $color5;
  font-size: 18px;
  text-align:center;
}

.three_box_text {
  padding:10px 30px;
  color: $color5;
  font-size: 16px;
  text-align: center;

  @media (max-width:550px) {
      display:none;
    }
}


