@import "settings/reset";
@import "settings/normalize";


@import "settings/font";
@import "settings/colors";
@import "homeheader";
@import "homethreecolumns";
@import "homesimplesteps";
@import "homeaboutus";
@import "homewhowehelp";
@import "homecontact";
@import "login";
@import "giveheader";
@import "giveform1";
@import "giveform2";
@import "giveform3";
@import "giveform4";
@import "giveend";
@import "givethanks";

body {
  box-sizing: border-box;
  font-family: $font-base;
   @media (max-width:550px) {
    width:100%;
    }
}

.container {
  width: 85%;
  margin: 0 auto;

  @media (max-width:550px) {
  width:80%
  }
}
