@import "settings/reset";
@import "settings/normalize";


@import "settings/font";
@import "settings/colors";
@import "homeheader";
@import "homethreecolumns";
@import "homesimplesteps";
@import "homeaboutus";


body {
  box-sizing: border-box;
  font-family: $font-base;
}

.container {
  width: 85%;
  margin: 0 auto;
}
